.my-head-title{
    background: url(/src/assets/head-q.jpg) repeat 0 0 #3f3f47;
    .van-nav-bar__title{
        margin: 0;
        font-size: 12px;
        color: #fff;
        overflow: hidden;
        text-overflow: inherit;
        max-width: 80%;
        white-space: normal;
        text-align: left;
    }
    .van-nav-bar__content{
        height: auto;
        min-height: 46px;
    }
    .van-nav-bar__left{
        position: relative;
        &:active{
            opacity:1
        }
    }
}

.home-my-serverbtn,.my-question-c{
    position: relative;
    button{
        width: 100%;
        text-align: left;
        height: auto;
        min-height: 44px;
    }
    .van-button__content{
        width: 100%;
        justify-content: flex-start;
    }
    .van-button__text{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        position: relative;
    }
}

.question-requestion-flex{
  div{
    margin-bottom: 10px;
  }
  .van-image__error{
      position: static;
  }
}
.question-request-btm-button .van-sticky{
    text-align: center;
}

.submit-question-flex{
    .van-cell{
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .van-cell__value{
        width: 100%;
        padding: 10px;
    }
}

.radius-3-vant-btn button{
    border-radius: 3px;
}

.submit-question-alt{
    width: 100%;
    text-align: left;
    .van-toast__text{
        word-break: break-word;
    }
    i{
        color: #20ff20
    }
}

.sdkerror{
    .van-toast__icon{
        color:#f00
    }
}